
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
    <h2>analyser is a good tool</h2>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    
 master
    <h1>Nahi hataya bta isko , ab hata diya</h1>


    <h1>isko hatana hai </h1>
    <p>
        <button data-toggle-text="Oh no! Switch back!">Use pilcrow for paragraphs</button>
        <dl>
        <dt>Beast of Bodmin</dt>
        </dl>
    </p>
 master
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
    <button type='submit'> Analyze Text</button>

</form>
</body>
</html>
